<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sftpsettings" type="Agr.Int.OrderImport.Common.Configurations.SftpLocationConfigurationSection, Agr.Int.OrderImport.Common, Version=1.0.0.0, Culture=neutral" />
    <section name="commerceRuntime" type="Microsoft.Dynamics.Commerce.Runtime.Configuration.CommerceRuntimeSection, Microsoft.Dynamics.Commerce.Runtime.ConfigurationProviders, Version=6.3.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="rtsBindings" type="Agr.Int.OrderImport.Host.ImportOrder, Agr.Int.OrderImport.Host, Version=1.0.0.0, Culture=neutral" />
  </configSections>
  <sftpsettings FolderPath="C:\SFCCTestData\" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ConnectionName" value="CommerceRuntimeConnectionString" />
    <add key="EventLogName" value="AshleyOnline" />
    <add key="IsLogRequired" value="on" />
    <add key="EventLogSource" value="RetailStoreWebFront" />
    <add key="OrdersPrimaryNode" value="orders" />
    <add key="PrimaryNamespaceLink" value="http://www.demandware.com/xml/impex/order/2006-10-31" />
    <add key="AddressValidationHost" value="http://RARCWIVDAP12156.ashleyretail.com:8083/" />
    <add key="AuthorizeXml" value="C:\SFCCTestData\config\payment-authorization-xml.txt"/>
    <add key="Input Directory" value="input" />
    <add key="InProcess Directory" value="inprocess" />
    <add key="Error Directory" value="error" />
    <add key="Success Directory" value="success" />
    <add key="LogFile" value="C:\SFCCTestData\error log"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="CommerceRuntimeConnectionString" connectionString="Data Source=RASHCOVP-2-SQL;Database=ChannelDB;Trusted_Connection=True;Max Pool Size=100;Integrated Security=SSPI" />-->
    <add name="CommerceRuntimeConnectionString" connectionString="Data Source=RARCWIVDSQ12669\AX_DEV_ENV;Database=ECM_7250_ChannelDB;Trusted_Connection=True;Max Pool Size=100;Integrated Security=SSPI" />
  </connectionStrings>
  <commerceRuntime configSource="commerceRuntime.config" />
  <rtsBindings configSource="rtsBindings.config" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="BufferedTCPBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transferMode="Buffered" listenBacklog="32" maxBufferPoolSize="67108864" maxBufferSize="10485760" maxConnections="16" maxReceivedMessageSize="10485760" portSharingEnabled="true">
          <readerQuotas maxStringContentLength="1048576" maxBytesPerRead="1048576" />
          <reliableSession enabled="true" inactivityTimeout="00:10:00" ordered="true" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" maxBufferPoolSize="10485760" maxReceivedMessageSize="1048576" textEncoding="utf-16" messageEncoding="Text" useDefaultWebProxy="true">
          <readerQuotas maxStringContentLength="1048576" maxBytesPerRead="1048576" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" proxyCredentialType="None" />
            <message clientCredentialType="UserName" algorithmSuite="Default" negotiateServiceCredential="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>