<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <bindings>
    <netTcpBinding>
      <binding name="BufferedTCPBinding"
               closeTimeout="00:01:00"
               openTimeout="00:01:00"
               receiveTimeout="00:10:00"
               sendTimeout="00:01:00"
               transferMode="Buffered"
               listenBacklog="32"
               maxBufferPoolSize="67108864"
               maxBufferSize="10485760"
               maxConnections="16"
               maxReceivedMessageSize="10485760"
               portSharingEnabled="true">
        <readerQuotas maxStringContentLength="1048576"
                      maxBytesPerRead="1048576" />
        <reliableSession enabled="true"
                         inactivityTimeout="00:10:00"
                         ordered="true" />
        <security mode="TransportWithMessageCredential">
          <transport clientCredentialType="None" />
          <message clientCredentialType="UserName" algorithmSuite="Default" />
        </security>
      </binding>
    </netTcpBinding>
    <wsHttpBinding>
      <binding name="WSHttpBinding"
               closeTimeout="00:01:00"
               openTimeout="00:01:00"
               receiveTimeout="00:10:00"
               sendTimeout="00:01:00"
               maxBufferPoolSize="10485760"
               maxReceivedMessageSize="1048576"
               textEncoding="utf-16"
               messageEncoding="Text"
               useDefaultWebProxy="true">
        <readerQuotas maxStringContentLength="1048576"
                      maxBytesPerRead="1048576" />
        <security mode="TransportWithMessageCredential">
          <transport clientCredentialType="None"
                     proxyCredentialType="None" />
          <message clientCredentialType="UserName"
                   algorithmSuite="Default"
                   negotiateServiceCredential="true" />
        </security>
      </binding>
    </wsHttpBinding>
  </bindings>

</configuration>
